.team-box {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.list .list-group-flush {
    padding: 0;
}

.list-group-item.hoverable {
    cursor: pointer;
}

.list-group-item.hoverable:hover {
    background: #eee;
}

.input-container {
    display: flex;
    justify-content: space-between;
}

.input-container .form-control {
    width: 80%;
}

@media only screen and (max-width: 759px) {
    .team-container {
        flex-direction: column;
    }

    .team-box {
        width: 100%;
    }
}
